h1{font-size: 60px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2{font-size: 40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
Li{font-size: 25px;}
h3{font-size: 40px;}
li{font-size: 25px;}
h4{font-size: 40px;}
p{font-size: 20px;}